<!DOCTYPE html>
<html lang="en" layout:decorate="~{/index}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop - Carts</title>
</head>

<body>
    <main role="main" layout:fragment="main">
        <div class="container">
            <h2>Cart</h2>
            <button type="button" class="btn btn-outline-secondary edit" data-toggle="modal" data-target="#addCart">
                Add new Cart
            </button>
            <table class="table table-sm table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Coupon</th>
                        <th scope="col">Total price</th>
                        <th scope="col">Products</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr th:each="cart : ${carts}">
                        <td th:text="${cart.id}"></td>
                        <td th:text="${cart.name}"></td>
                        <td>tmp</td>
                        <!-- <td th:text="${cart.coupon.code}"></td> -->
                        <td th:text="${cart.totalPrice}"></td>
                        <td th:text="${cart.products}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>