<!DOCTYPE html>
<html lang="en">

<head>
    <meta th:replace="fragments/metas" />
    <title layout:tittle-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Crud</title>
    <link th:replace="fragments/links" />
</head>

<body>
    <nav th:replace="fragments/nav"></nav>
    <main role="main" layout:fragment="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Welcome to Crud!</h1>
                <p>This is a crud example project.</p>
                <a class="btn btn-primary btn-lg" href="/cart" role="button">See cart</a>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/footer"></footer>
    <script th:replace="fragments/scripts"></script>
</body>

</html>