<!DOCTYPE html>
<html lang="en" layout:decorate="~{/index}">

<head>
    <title>Shop - Products</title>
</head>

<body>
    <main role="main" layout:fragment="main">
        <div class="container">
            <h2>Products</h2>
            <button type="button" class="btn btn-outline-secondary edit" data-toggle="modal" data-target="#addProduct">
                Add new Product
            </button>
            <!-- table -->
            <table class="table table-hover table-sm table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Total price</th>
                        <th scope="col" colspan="4">Description</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr th:id="${'tr-' + product.id}" th:each="product : ${products}">
                        <td class="td-id" th:text="${product.id}"></td>
                        <td class="td-name" th:text="${product.name}"></td>
                        <td class="td-price" style="display: none;" th:text="${product.price}"></td>
                        <td class="td-priceEur" th:text="${product.priceEur}"></td>
                        <td class="td-stock" th:text="${product.stock}"></td>
                        <td class="td-totalPrice" style="display: none;" th:text="${product.totalPrice}"></td>
                        <td class="td-totalPriceEur" th:text="${product.totalPriceEur}"></td>
                        <td class="td-description" th:text="${product.description}"></td>
                        <td>
                            <button th:id="${product.id}" type="button" class="btn btn-outline-secondary edit"
                                data-toggle="modal" data-target="#editProduct">
                                <i class="fas fa-edit"></i>
                            </button>
                        </td>
                        <td>
                            <form th:action="${'/products/delete/' + product.id}" method="GET">
                                <button class="btn btn-outline-secondary" type="submit">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                        <td>
                            <form th:action="${'/cart/add/product/' + product.id}" method="get">
                                <button class="btn btn-outline-secondary" type="submit">
                                    <i class="fas fa-cart-plus" type="submit"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${products.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/products(size=${products.size}, page=${pageNumber})}"
                    th:text=${pageNumber}
                    th:class="${pageNumber==products.number + 1} ? active">
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="editProductLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edit-title"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="${'/products/edit'}" method="POST">
                                <div class="form-group" style="display: none;">
                                    <label for="id">Id</label>
                                    <input th:id="edit-id" type="text" class="form-control" name="id" id="modal-id" />
                                </div>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input th:id="edit-name" type="text" class="form-control" name="name" id="modal-name" />
                                </div>
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input th:id="edit-price" type="text" class="form-control" name="price" id="modal-price" />
                                </div>
                                <div class="form-group">
                                    <label for="stock">Stock</label>
                                    <input th:id="edit-stock" type="text" class="form-control" name="stock" id="modal-stock" />
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input th:id="edit-description" type="text" class="form-control" name="description"
                                        id="modal-description" />
                                </div>
                                <button type="submit" class="btn btn-primary">Confirm</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
